@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
}
h1 {
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

/* header */

header {
    background: linear-gradient(to right, #aedfff, white, #ffd6cc);
    min-height: 80vh;
    border-bottom: var(--main-color) 2px solid;
    padding: 2rem 0;
}

header h1 {
    text-align: center;
}

header h2{
    text-align: center;
    font-weight: 500;
}

.body-text{
    max-width: 30rem;
    margin: 2rem;
    text-align: left;
}

.header-image{
    margin: auto;
    width: fit-content;
}

header img {
    height: 20rem;
}

header .header-links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 0;
}

.body-text p{
    padding-bottom: 3rem;
}

header .header-links a {
    color: white;
    padding: 0.5rem 1rem;
    background-color:#6d6d6d80;
    border-radius: 0.2rem;
    transition: 0.1s;
}

header .header-links a:hover {
    opacity: 90%;
}

header .header-links a:first-child {
    background-color: #ff7e5f;
}

/* video section */

.video-section {
    position: relative;
    padding-bottom: 39.375%;
    width: 70%;
    margin: 2rem auto;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: #ff7e5f 5px solid;
}

/* purchase section */
.purchase-section {
    background-color: #dff3ff;
    border-radius: 1rem;
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.purchase-methods {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    justify-content: space-evenly;
    margin: 2rem 0;
}

.purchase-methods .method {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: end;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
}

.purchase-methods img {
    height: 4rem;
    object-fit: cover;
}

.purchase-methods a {
    color: white;
    padding: 0.5rem 1rem;
    background-color:#ff3838;
    border-radius: 0.2rem;
    transition: 0.1s;
}

.purchase-methods a:hover {
    opacity: 90%;
}

/* biography section */

#biography {
    background: linear-gradient(to right, #cdebff, rgba(255, 184, 184, 0.582), #4681ffc2);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	text-align: left;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* custom sections */

.custom-section-1 {
    position: relative;
    border-radius: 1rem;
    text-align: left;
    width: 70%;
    margin: 2rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: rgb(0, 0, 0);
    
}

.custom-section-1 p {
    background-color: rgba(255, 255, 255, 0.521);
    padding: 1rem;
    border-radius: 1rem;
    word-spacing: 0.2rem;
    letter-spacing: 0.05rem;
    font-size: 1rem;
    text-align: left;
}

.custom-section-1 span {
    opacity: 50%;
    font-size: 0.9rem;
}

.custom-section-1 .contact-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 0;
    justify-content: center;
}

.custom-section-1 .contact-buttons a {
    color: white;
    padding: 0.5rem 2rem;
    background-color:#ff3838;
    border-radius: 0.2rem;
    transition: 0.1s;
}

.custom-section-1 .contact-buttons a:hover {
    opacity: 90%;
}

/* footer */
footer {
    background-color: rgba(0, 0, 0, 0.863);
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 5rem 1rem;
    width: 100%;
}
footer img {
    height: 10rem;
}
footer a {
    color: white;
    color: white;
    padding: 0.5rem 2rem;
    background-color:#000000d8;
    border-radius: 0.2rem;
    transition: 0.1s;
}
footer a:hover {
    opacity: 90%;
}

.custom-section-1 .cvimage {
    width: 100%;
}

/* mobile compability */
@media screen and (max-width: 977px) {
    .header-links {
        justify-content: center;
    }
    header h1 {
        text-align: center;
    }
    .custom-section-1 {
        width: 95%;
    }
}

@media screen and (min-width: 501px) {
    .custom-section-1 > img {
        width: 30rem;
        margin: auto;
    }
}
    