@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Goudy Bookletter 1911', sans-serif;
    width: 100%;
    font-size: 14pt;
}
h1 {
    font-weight: 500;
    font-size: 35pt;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

/* header */

header {
    /* background: linear-gradient(to right, #aedfff, white, #ffd6cc); */
    background: linear-gradient(to right, #aedfff, rgb(211, 227, 247), #ffd6cc);
    /* min-height: 80vh; */
    border-bottom: var(--main-color) 2px solid;
    padding: 24pt 0;
    margin: 32px 0;
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
}

header:nth-child(1) {
    margin-top: 0;
    padding-top: 7pt;
}

header h1 {
    text-align: center;
}

header h2{
    text-align: center;
    font-weight: 500;
}

.top-row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.box-wrapper{
    padding: 0rem;
    text-align: left;
    margin: auto;
}
.header-image {
    display: flex;
    justify-content: center;
}
header img {
    width: 270px;
}
header video {
    width: 270px;
    position: relative;
    padding-top: 7pt;
    padding-bottom: 0pt;
}
@media screen and (max-width: 450px) {
    header img {
        width: 95%;
    }
    /* header video {
        width: 95vw;
    } */
}
header .header-links {
    display: flex;
    flex-wrap: wrap;
    gap: 12pt;
    padding: 12pt 0;
}

header .header-links a {
    color: white;
    padding: 6pt 12pt;
    background-color:#6d6d6d80;
    border-radius: 2.4pt;
    transition: 0.1s;
}

header .header-links a:hover {
    opacity: 90%;
}

header .header-links a:first-child {
    background-color: #ff7e5f;
}

.intro-header {
    margin: 24pt 0;
}
@media screen and (max-width: 425px) {
    .intro-header, .book-reviews h1 {
        font-size: 33pt;
    }
}
.top-text, .intro-text, .bulleted-section, .box-text {
    border:solid 12pt #1F5B65;
    padding: 1rem;
    margin: auto;
    width: 70%;
}
.bulleted-section {
    border: none;
}
.top-list-wrap {
    /* display: flex;
    align-items: flex-start; */
    background: white;
    justify-content: center;
}
.top-six-bullets {
    padding-top: 12pt;
    padding-right: 12pt;
}
.next-bullets {
    background-color: white;
    padding-right: 12pt;
}
.header-image {
    float: left;
    padding-left: 1rem;
}
@media screen and (max-width: 1580px) {
    /* .top-list-wrap {
        flex-direction: column;
    } */
    .header-image {
        margin: 0 auto;
    }
    
    /*
    .top-six-bullets {
        padding-left: 2rem;
    } */
}
.bulleted-section, .link-below-bio {
    margin: auto;
    padding: 24pt;
}
.bulleted-section b {
    font-size: 22pt;
}
.bulleted-text {
    display: flex;
    flex-direction: column;
}
/* .bulleted-text p {
    padding-left: 36pt;
} */
.bulleted-text span {
    font-size: 90pt;
    line-height: 36pt;
    margin-top: -14pt;
}
.next-bullets span {
    position: absolute;
}
.next-bullets p {
    padding-left: 26pt;
    line-height: 1.15;
}
.top-six-bullets {
    min-height: 406.5px;
}
.top-six-bullets > div {
    display: flex;
    line-height: 1.15;
    align-items: start;
}
.top-six-bullets > div:nth-child(1) {
    display: block;
    padding-left: 300px;
    padding-right: 6pt;
    padding-top: 14pt;
}
@media screen and (max-width: 565px) {
    .header-image {
        margin: auto;
        float:initial;
        width: 95%;
        margin-bottom: 1rem;
    }
    .top-six-bullets > div:nth-child(1) {
        padding: 0;
        padding-left: 12pt;
        padding-top: 0;
    }
}
.seeMore, .seeLess, .seeMoreReview, .seeLessReview, .seeMoreStyle {
    color: #1F5B65;
    cursor: pointer;
}
.top-images {
    display: flex;
    justify-content: center;
    gap: 12pt;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 24pt;
}
.top-images img {
    /* width: 17.25rem; */
    /* object-fit: contain; */
    width: 240px;
    height: 240px;
    border: 6pt #006571 solid;
}
/* video section */
.video-container {
    width: 70%;
    margin: 32px auto;
}
.video-container:nth-child(1) {
    margin-top: 0;
}
.video-section {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.video-section iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: #1F5B65 12pt solid;
  }

/* iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 50rem;
    height: 30rem;
    border: #1F5B65 1rem solid;
} */
/* @media screen and (max-width:900px) {
    .video-section {
        width: 45rem;
        padding-bottom: 27rem;
    }
    iframe {
        width: 45rem;
        height: 27rem;
    }
}
@media screen and (max-width:800px) {
    .video-section {
        width: 40rem;
        padding-bottom: 23rem;
    }
    iframe {
        width: 40rem;
        height: 23rem;
    }
}
@media screen and (max-width:700px) {
    .video-section {
        width: 35rem;
        padding-bottom: 20rem;
    }
    iframe {
        width: 35rem;
        height: 20rem;
    }
}
@media screen and (max-width:600px) {
    .video-section {
        width: 30rem;
        padding-bottom: 17rem;
    }
    iframe {
        width: 30rem;
        height: 17rem;
    }
}
@media screen and (max-width:500px) {
    .video-section {
        width: 20rem;
        padding-bottom: 12rem;
    }
    iframe {
        width: 20rem;
        height: 12rem;
    }
} */

/* purchase section */
.purchase-section {
    background-color: #dff3ff;
    border-radius: 1rem;
    width: 95%;
    margin: 24pt auto;
    padding: 12pt;
    margin-bottom: 0;
}

.purchase-methods {
    width: 100%;
    margin: 24pt 0;
}

.method-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24pt;
    margin-bottom: 24pt;
}

.purchase-methods .method {
    display: flex;
    flex-direction: column;
    gap: 24pt;
    justify-content: end;
    align-items: center;
    padding: 24pt;
    border-radius: 12pt;
    width: 204.01pt;
}

.purchase-methods img {
    height: 48pt;
    object-fit: cover;
}

.purchase-methods a {
    color: white;
    padding: 6pt 12pt;
    background-color:#006571 ;
    border-radius: 2.4pt;
    transition: 0.1s;
}

.purchase-methods a:hover {
    opacity: 90%;
}
.other-writings {
    margin: 24pt 0;
}
.other-writings h5 {
    margin-bottom: 24pt;
}
.other-writings img {
    max-width: 100%;
    margin-bottom: 18pt;
}
/* .other-writings-box {
    max-width: 346px;
} */
.other-writings-text {
    /* text-align: center; */
    border-left: #007a00 solid 3.6pt ;
    background-color: #ecececea;
    padding: 6pt 12pt;
    line-height: 30pt;
    width: 504.01pt;
    font-weight: bold;
    /* margin: auto; */
}
@media screen and (max-width: 760px) {
    .other-writings-text {
        width: 100%;
    }
}
.line {
    height: 12pt;
    width: 100%;
    background-color: #18820a ;
    margin-bottom: 6pt;
}
/* .larger-box {
    max-width: 600px;
}
.other-writings-text-2 {
    text-align: center;
    font-weight: bold;
    margin: 2rem auto;
} */
/* biography section */

#biography {
    background: linear-gradient(to right, #aedfff, white, #ffd6cc);
    /* background: #4681ffc2; */
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	text-align: left;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
/* custom sections */

.custom-section-1 {
    position: relative;
    border-radius: 12pt;
    text-align: left;
    width: 70%;
    margin: 24pt auto;
    padding: 12pt;
    display: flex;
    flex-direction: column;
    gap: 12pt;
    color: #000000;
    
}

.custom-section-1 p {
    background-color: #ffffff85;
    padding: 12pt;
    border-radius: 12pt;
    word-spacing: 2.4pt;
    letter-spacing: 0.6pt;
    text-align: left;
}

.custom-section-1 .contact-buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 12pt;
    padding: 12pt 0;
    justify-content: center;
    align-items: center;
}

.custom-section-1 .contact-buttons a , .link-below-bio a{
    color: white;
    padding: 6pt 24pt;
    background-color:#32cd32;
    border-radius: 2.4pt;
    transition: 0.1s;
}

.custom-section-1 .contact-buttons a:hover, .link-below-bio a:hover {
    opacity: 90%;
}

.custom-section-1 > img {
    width: 180pt;
    margin: auto;
}

/* cv */
.custom-section-2 {
    position: relative;
    border-radius: 12pt;
    text-align: left;
    width: 95%;
    margin: 24pt auto;
    padding: 12pt;
    display: flex;
    flex-direction: column;
    gap: 12pt;
    color: #000000;
    background: #7cfc00;
}
.custom-section-2 .cv {
    padding: 60pt 24pt;
    background-color: white;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 13.2pt;
}
.custom-section-2 .centered-text {
    text-align: center;
    line-height: 36px;
}
.custom-section-2 .cv a, #biography p a {
    color: #2f81f7;
    transition: 0.1s;
}
.custom-section-2 .cv a:hover, #biography p a:hover {
    text-decoration: underline;
}

.cv p {
    line-height: 24pt;
    padding: 1rem;
}
/* footer */
footer {
    background-color: #000000dc;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around;
    flex-wrap: wrap;
    align-items: center; */
    padding: 60pt 12pt;
    padding-top: 20px;
    width: 100%;
    margin-top: 32.4pt;
    overflow-x: hidden;
}
footer img {
    height: 462.15px;
    overflow-x: hidden;
}
footer img:nth-child(2) {
    height: 120px;
}
footer a {
    color: white;
    color: white;
    padding: 6pt 24pt;
    background-color:#000000d8;
    border-radius: 2.4pt;
    transition: 0.1s;
}
footer a:hover {
    opacity: 90%;
}

.custom-section-1 .cvimage {
    width: 100%;
}

/* mobile compability */
@media screen and (max-width: 475px) {
    footer img {
        height: unset;
        max-width: 540px;
    }
}
@media screen and (max-width: 977px) {
    .header-links {
        justify-content: center;
    }
    header h1 {
        text-align: center;
    }
    .top-text, .intro-text, .bulleted-section, .box-text, .custom-section-1, .video-container {
        width: 95%;
    }
}
    
/* swiper */
.swiper {
    height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18pt;
}

.swiper-slide p {
    /* height: 20rem;
    overflow-y: scroll; */
    padding-right: 12pt;
}

.swiper-button-prev, .swiper-button-next {
    top: var(--swiper-navigation-top-offset,150px) !important;
    color: #111;
}

.review-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.review-slider {
    width: 480.01pt;
    margin: 36pt 0;
}

.swiper-slide h1 {
    text-align: left;
}
.review-slider .swiper-slide {
    padding: 0 60pt;
    text-align: left;
} 
.review-slider img {
    width: 100%;
    object-fit: contain;
}
.review-slider h2 {
    padding-bottom: 24pt;
}
.fa-star {
    color: gold;
}
.swiper-slide p {
    /* max-height: 30rem; */
    margin-top: 18pt;
}
/* .swiper-slide.overflow-needed p {
    overflow-y: scroll;
} */
@media screen and (max-width: 1375px) {
    .review-slider {
        margin-left: 0 !important;
    }
    .top-row {
        padding-bottom: 12pt;
    }
}
/* @media screen and (max-width: 1015px) {
    .box-wrapper {
        margin: 0 2rem;
    }
} */
@media screen and (max-width: 825px) {
    .review-slider {
        width: 100%;
    }
}
@media screen and (max-width: 550px) {
    .top-row {
        padding: 0;
    }
    .swiper-slide h1 {
        text-align: left;
    }
    .review-slider .swiper-slide {
        padding: 0 33.6pt;
    } 
    .swiper-button-prev, .swiper-button-next {
        margin: -1.2pt;
    }
}
.simple-bar {
	max-height: 360.01pt;
}
.simplebar-track {
    background-color: #aedfff;
    width: 6pt !important;
}
.simplebar-scrollbar {
    background-color: #2f81f7;
}
.simplebar-scrollbar::before {
    background-color: #2f81f7 !important;
}
/* .overflow-needed p::-webkit-scrollbar {
    background-color: #aedfff;
    width: 0.5rem;
}
.overflow-needed p::-webkit-scrollbar-thumb {
    background-color: #2f81f7;
}
.overflow-needed p {
    scrollbar-color: #2f81f7 #aedfff;
    scrollbar-width: thin;
} */
/*links below bio*/
.link-below-bio .row {
    display: flex;
    flex-wrap: wrap;
    gap: 12pt;
    justify-content: center;
    padding: 12pt 0;
}
.link-below-bio span {
    opacity: 50%;
    font-size: 14pt;
    text-align: center;
    display: flex;
    justify-content: center;
}
.link-below-bio .contact-buttons a {
    background-color: #00BFFF;
}
.link-below-bio .contact-buttons a:hover {
    background-color: #187BCD;
}

/* Upper layer codes */
.box-wrapper p{
    margin-bottom: 18pt;
}
