@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Goudy Bookletter 1911', sans-serif;
    width: 100%;
    font-size: 18pt;
}
h1 {
    font-weight: 500;
    font-size: 3rem;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

/* header */

header {
    background: linear-gradient(to right, #aedfff, white, #ffd6cc);
    min-height: 80vh;
    border-bottom: var(--main-color) 2px solid;
    padding: 2rem 0;
}

header h1 {
    text-align: center;
}

header h2{
    text-align: center;
    font-weight: 500;
}

.top-row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 5rem;
    flex-wrap: wrap;
}

.box-wrapper{
    max-width: 60rem;
    padding: 0rem;
    text-align: left;
    margin: auto;
}

header img {
    width: 15rem;
}

header .header-links {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 0;
}

header .header-links a {
    color: white;
    padding: 0.5rem 1rem;
    background-color:#6d6d6d80;
    border-radius: 0.2rem;
    transition: 0.1s;
}

header .header-links a:hover {
    opacity: 90%;
}

header .header-links a:first-child {
    background-color: #ff7e5f;
}

.intro-header {
    margin: 2rem 0;
}

.top-text, .intro-text, .bulleted-section, .box-text {
    border:solid 1rem #1F5B65;
    padding: 1rem;
    margin: 0;
}

.bulleted-section, .link-below-bio {
    margin: auto;
    padding: 2rem;
}
.bulleted-section b {
    font-size: calc(3rem - 2pt);
}
.bulleted-text {
    line-height: 36pt;
}
.bulleted-text span {
    font-size: 2.5rem;
}
#seeMore, #seeLess, #seeMoreReview, #seeLessReview {
    color: #1F5B65;
    cursor: pointer;
}
.top-images {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
}
.top-images img {
    width: 17.25rem;
    object-fit: contain;
    border: 0.5rem #006571 solid;
}
/* video section */

.video-section {
    position: relative;
    padding-bottom: 39.375%;
    width: 70%;
    margin: auto;
    margin-top: 2rem;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: #1F5B65 5px solid;
}

/* purchase section */
.purchase-section {
    background-color: #dff3ff;
    border-radius: 1rem;
    width: 95%;
    margin: 2rem auto;
    padding: 1rem;
    margin-bottom: 0;
}

.purchase-methods {
    width: 100%;
    margin: 2rem 0;
}

.method-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.purchase-methods .method {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: end;
    align-items: center;
    padding: 2rem;
    border-radius: 1rem;
    width: 17rem;
}

.purchase-methods img {
    height: 4rem;
    object-fit: cover;
}

.purchase-methods a {
    color: white;
    padding: 0.5rem 1rem;
    background-color:#006571 ;
    border-radius: 0.2rem;
    transition: 0.1s;
}

.purchase-methods a:hover {
    opacity: 90%;
}
.other-writings {
    margin: 2rem 0;
}
.other-writings img {
    max-width: 100%;
}
.other-writings-box {
    max-width: 346px;
}
.other-writings-text {
    text-align: center;
    border-left: #007a00 solid 0.3rem ;
    background-color: rgba(236, 236, 236, 0.918);
    padding: 0.5rem 1rem;
    padding-top: 2rem;
    font-weight: bold;
    line-height: 2.5rem;
    width: 17rem;
    margin: auto;
}
.larger-box {
    max-width: 600px;
}
.other-writings-text-2 {
    text-align: center;
    font-weight: bold;
    margin: 2rem auto;
}
/* biography section */

#biography {
    background: #4681ffc2;
    /* background: linear-gradient(to right, #cdebff, rgba(255, 184, 184, 0.582), #4681ffc2); */
	background-size: 400% 400%;
	/* animation: gradient 10s ease infinite; */
	text-align: left;
	font-size: 18pt;
}

/* @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
} */
/* custom sections */

.custom-section-1 {
    position: relative;
    border-radius: 1rem;
    text-align: left;
    width: 70%;
    margin: 2rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: rgb(0, 0, 0);
    
}

.custom-section-1 p {
    background-color: rgba(255, 255, 255, 0.521);
    padding: 1rem;
    border-radius: 1rem;
    word-spacing: 0.2rem;
    letter-spacing: 0.05rem;
    font-size: 18pt;
    text-align: left;
}

.custom-section-1 .contact-buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 0;
    justify-content: center;
    align-items: center;
}

.custom-section-1 .contact-buttons a , .link-below-bio a{
    color: white;
    padding: 0.5rem 2rem;
    background-color:#32cd32;
    border-radius: 0.2rem;
    transition: 0.1s;
}

.custom-section-1 .contact-buttons a:hover, .link-below-bio a:hover {
    opacity: 90%;
}

.custom-section-1 > img {
    width: 15rem;
    margin: auto;
}

/* cv */
.custom-section-2 {
    position: relative;
    border-radius: 1rem;
    text-align: left;
    width: 95%;
    margin: 2rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: rgb(0, 0, 0);
    background: linear-gradient(to right, #cdebff, #4681ffc2);
}
.custom-section-2 .cv {
    padding: 5rem 2rem;
    background-color: white;
    font-family: 'Arial';
    font-weight: bold;
    font-size: 1.1rem;
}
.custom-section-2 .centered-text {
    text-align: center;
    line-height: 36px;
}
.custom-section-2 .cv a, #biography p a {
    color: #2f81f7;
    transition: 0.1s;
}
.custom-section-2 .cv a:hover, #biography p a:hover {
    text-decoration: underline;
}

.cv p {
    line-height: 24pt;
    padding: 1rem;
}
/* footer */
footer {
    background-color: rgba(0, 0, 0, 0.863);
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 5rem 1rem;
    width: 100%;
    margin-top: 2.7rem;
}
footer img {
    width: 17.25rem;
}
footer a {
    color: white;
    color: white;
    padding: 0.5rem 2rem;
    background-color:#000000d8;
    border-radius: 0.2rem;
    transition: 0.1s;
}
footer a:hover {
    opacity: 90%;
}

.custom-section-1 .cvimage {
    width: 100%;
}

/* mobile compability */
@media screen and (max-width: 977px) {
    .header-links {
        justify-content: center;
    }
    header h1 {
        text-align: center;
    }
    .custom-section-1 {
        width: 95%;
    }
}
    
/* swiper */
.swiper {
    height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18pt;
}

.swiper-slide p {
    height: 20rem;
    overflow-y: scroll;
    padding-right: 1rem;
}

.swiper-slide p::-webkit-scrollbar {
    background-color: #aedfff;
    width: 0.5rem;
}
.swiper-slide p::-webkit-scrollbar-thumb {
    background-color: #2f81f7;
}
.swiper-button-prev, .swiper-button-next {
    color: #111;
}


.review-slider {
    margin-left: 20rem;
    width: 40rem;
    margin-top: 3rem;
}

.swiper-slide h1 {
    text-align: left;
}
.review-slider .swiper-slide {
    padding: 0 5rem;
    text-align: left;
} 
.review-slider img {
    width: 100%;
    object-fit: contain;
}

.fa-star {
    color: gold;
}

@media screen and (max-width: 1375px) {
    .review-slider {
        margin-left: 0 !important;
    }
    .top-row {
        padding: 0 0.5rem;
        padding-bottom: 1rem;
    }
}
@media screen and (max-width: 1015px) {
    .box-wrapper {
        margin: 0 2rem;
    }
}
@media screen and (max-width: 825px) {
    .review-slider {
        width: 100%;
    }
}

/*links below bio*/
.link-below-bio .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem 0;
}
.link-below-bio span {
    opacity: 50%;
    font-size: 0.9rem;
    text-align: center;
    display: flex;
    justify-content: center;
}
.link-below-bio .contact-buttons a {
    background-color: #182224;
}
/* Upper layer codes */
.box-wrapper p{
    margin-bottom: 18pt;
}